#game-wrapper{
    position: relative;
    width: 900px;
    margin: 0 auto;
}
#game{
    border: 1px solid;
    display: block;
    margin: 0 auto;
}
#score{
    position: absolute;
    top: 10px;
    left: 10px;
}